<div class="main-container">
  <nav class="top-nav">
    <button [class.active]="pestanaActiva === 'patos'" (click)="pestanaActiva = 'patos'">
      Patos
    </button>
    <button [class.active]="pestanaActiva === 'ventas'" (click)="pestanaActiva = 'ventas'">
      Ventas
    </button>
  </nav>
@if (pestanaActiva === 'patos'){
  <main class="content-card">
    <h2>Tienda Patitos Maria</h2>

    <div class="actions-bar">
      <button class="btn-primary" (click)="abrirModalAgregar()">Agregar</button>
    </div>

    <table class="patos-table">
      <thead>
        <tr>
          <th>COLOR</th>
          <th>TAMAÑO</th>
          <th>STOCK</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        @for (pato of patos; track pato.id){
          <tr>
            <td>{{ pato.color }}</td>
            <td>{{ pato.tamano }}</td>
            <td>{{ pato.stock }}</td>
            <td class="action-buttons">
              <button class="btn-secondary" (click)="editarPato(pato)">
                Editar
              </button>
              <button class="btn-secondary" (click)="eliminarPato(pato.id)">
                Eliminar
              </button>
            </td>
          </tr>
        }
        

      </tbody>
    </table>
  </main>
}
  
@if (pestanaActiva === 'ventas'){
  <main class="content-card">
    <h2>Gestión de Ventas</h2>
    <p>Sección de registro de ventas y estados dinámicos.</p>
  </main>
}
  
</div>
